<!DOCTYPE HTML>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h2>Account</h2>
<table border="1">
    <tr>
        <td>platform</td>
        <td>symbol</td>
        <td>money</td>
        <td>coin</td>
        <td>frozen</td>
    </tr>

    <tr>
        <td th:text="${accountA.platform}"></td>
        <td th:text="${accountA.symbol}"></td>
        <td th:text="${accountA.money}"></td>
        <td th:text="${accountA.virtualCurrency}"></td>
        <td th:text="${accountA.frozen}"></td>
    </tr>

    <tr>
        <td th:text="${accountB.platform}"></td>
        <td th:text="${accountB.symbol}"></td>
        <td th:text="${accountB.money}"></td>
        <td th:text="${accountB.virtualCurrency}"></td>
        <td th:text="${accountB.frozen}"></td>
    </tr>
</table>
<p></p>
sum money: <b th:text="${sumMoney}"/>
sum coin: <b th:text="${sumCoin}"/>

<h1>Form</h1>

<span name="textarea" th:text="'A->B ' + ${a2bAvgPercent} "/>
<span name="textarea" th:text="'B->A ' + ${b2aAvgPercent} "/>
<p name="textarea" th:text="'Suggest: ' + ${suggest} "/>
<span name="textarea" th:text="'max up: ' + ${greeting.upMax} "/>
<span name="textarea" th:text="'max down: ' + ${greeting.downMax} "/>

<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    <p>UP Metrics: <input id="moveMetrics" name="textarea" type="text" th:field="*{moveMetrics}"/>
        DOWN Metrics: <input id="moveBackMetrics" name="textarea" type="text" th:field="*{moveBackMetrics}"/></p>
    <p>avg float Metrics: <input id="avgFloatPercent" name="textarea" type="text"
                                 th:field="${greeting.avgFloatPercent}"/></p>
    <p>Min trade float: <input id="minTradeFloat" name="textarea" type="text"
                               th:field="${greeting.minTradeFloat}"/>
        Warehouse diff: <input id="wareHouseDiff" name="textarea" type="text"
                               th:field="${greeting.wareHouseDiff}"/>
    </p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>


<!--private float upPercent;-->
<!--private float downPercent;-->

<!--private double upMax;-->
<!--private double downMax;-->

<h2>Trade Record</h2>
<span style="color:blue">
sum cost=<b th:text="${recordList.getSumCostMoney()}"/>
sum profit=<b th:text="${recordList.getSumProfit()}"/>

<table border="1">
    <tr>
        <td></td>
        <td>A-B</td>
        <td>B-A</td>
    </tr>
    <tr>
        <td>sum profit</td>
        <td><b th:text="${recordList.getSumA2BProfit()}"/></td>
        <td><b th:text="${recordList.getSumB2AProfit()}"/></td>
    </tr>

    <tr>
        <td>avg diff</td>
        <td><b th:text="${recordList.getAvgA2BDiffPercent()}"/></td>
        <td><b th:text="${recordList.getAvgB2ADiffPercent()}"/></td>
    </tr>

    <tr>
        <td>avg profit</td>
        <td><b th:text="${recordList.getAvgA2BProfit()}"/></td>
        <td><b th:text="${recordList.getAvgB2AProfit()}"/></td>
    </tr>
</table>
</span>
<br>

<table th:object="${recordList}" id="recordTable" border="1">
    <tr>
        <td>create time</td>
        <td>volume</td>
        <td>profit</td>
        <td>direct</td>
        <td>diff percent</td>
        <td>cost</td>
        <td>upPercent</td>
        <td>downPercent</td>
        <td>upMax</td>
        <td>downMax</td>
    </tr>

    <tr th:each="record :${recordList.getRecordList()}">
        <td th:text="${record.createTime}"></td>
        <td th:text="${record.volume}"></td>
        <td th:text="${record.profit}"></td>
        <td th:text="${record.direct}"></td>
        <td th:text="${record.eatDiffPercent}"></td>
        <td th:text="${record.tradeCostMoney}"></td>
        <td th:text="${record.upPercent}"></td>
        <td th:text="${record.downPercent}"></td>
        <td th:text="${record.upMax}"></td>
        <td th:text="${record.downMax}"></td>
    </tr>
</table>

<h2>Order</h2>
<table th:object="${orderList}" id="orderTable" border="1">
    <tr>
        <td>create time</td>
        <td>platform</td>
        <td>amount</td>
        <td>filled amount</td>
        <td>fill fees</td>
        <td>order pair key</td>
        <td>state</td>
        <td>trade direct</td>
        <td>price</td>
        <td>diff percent%</td>
    </tr>

    <tr th:each="order :${orderList}">
        <td th:text="${order.createTime}"></td>
        <td th:text="${order.platform}"></td>
        <td th:text="${order.amount}"></td>
        <td th:text="${order.filledAmount}"></td>
        <td th:text="${order.fillFees}"></td>
        <td th:text="${order.orderPairKey}"></td>
        <td th:text="${order.state}"></td>
        <td th:text="${order.tradeDirect}"></td>
        <td th:text="${order.price}"></td>
        <td th:text="${order.diffPercent}"></td>

    </tr>
</table>


<h2>Profit Statistics</h2>
<table th:object="${profitStatistics}" id="statTable" border="1">
    <tr>
        <td>create time</td>
        <td>platform A</td>
        <td>platform B</td>
        <td>sum coin</td>
        <td>sum money</td>
        <td>symbol</td>
        <td>sum profit</td>
        <td>sum cost</td>
        <td>sum A-B profit</td>
        <td>sum A-B avg(diff)</td>
        <td>sum A-B avg(profit)</td>
        <td>sum B-A profit</td>
        <td>sum B-A avg(diff)</td>
        <td>sum B-A avg(profit)</td>
    </tr>

    <tr th:each="stat :${profitStatistics}">
        <td th:text="${stat.createTime}"></td>
        <td th:text="${stat.platformA}"></td>
        <td th:text="${stat.platformB}"></td>
        <td th:text="${stat.sumCoin}"></td>
        <td th:text="${stat.sumMoney}"></td>
        <td th:text="${stat.symbol}"></td>
        <td th:text="${stat.getSumProfit()}"></td>
        <td th:text="${stat.getSumCostMoney()}"></td>
        <td th:text="${stat.getSumA2BProfit()}"></td>
        <td th:text="${stat.getAvgA2BDiffPercent()}"></td>
        <td th:text="${stat.getAvgA2BProfit()}"></td>
        <td th:text="${stat.getSumB2AProfit()}"></td>
        <td th:text="${stat.getAvgB2ADiffPercent()}"></td>
        <td th:text="${stat.getAvgB2AProfit()}"></td>

    </tr>
</table>


</body>
</html>
<script type="text/javascript">

    function colorRecordTable() {
        var tab = document.getElementById("recordTable");
        var rows = tab.rows;
        for (var i = 1; i < rows.length; i++) {
            // for (var j = 0; j < rows[i].cells.length; j++) {
            //     console.log("第" + (i + 1) + "行，第" + (j + 1) + "列的值是:" + rows[i].cells[j].innerHTML);
            // }
            if (rows[i].cells[2].innerHTML < 0) {
                rows[i].style.color = "red";
            } else {
                rows[i].style.color = "green";
            }
        }
    }

    function colorOrderTable() {
        var tab = document.getElementById("orderTable");
        var rows = tab.rows;
        for (var i = 1; i < rows.length; i++) {
            // for (var j = 0; j < rows[i].cells.length; j++) {
            //     console.log("第" + (i + 1) + "行，第" + (j + 1) + "列的值是:" + rows[i].cells[j].innerHTML);
            // }
            if (rows[i].cells[9].innerHTML < 0) {
                rows[i].style.color = "red";
            } else {
                rows[i].style.color = "green";
            }

            if (rows[i].cells[6].innerHTML != 'filled') {
                rows[i].style.color = "blue";
            }
        }
    }

    colorOrderTable();
    colorRecordTable();

</script>